/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************** Custom Styles begins here ********************/
html {
    font-size: 16px;
}
body {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
a {
    text-decoration: none;
}
textarea {
    line-height: 1.2rem;
}
/**************** Flex ****************/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-start {
    align-items: flex-start;
}
.justify-start {
    justify-content: flex-start;
}
.flex-column {
    flex-direction: column;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-45 {
    flex: 0 1 45%;
}
.flex-65 {
    flex: 0 1 65%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************** Headings **************/
h1, h2, h3, h4 {
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.4rem;
}

/************** Header **************/
.userDetail {
text-align: right;
font-weight: 700;
margin-bottom: 1rem;
}

/************** Main **************/
.article-info {
    box-shadow: 1px 1px 5px grey;
    margin: 1rem 0;
    padding: 1rem;
}
.heart1, .heart2 {
    display: inline-block;
    background-color: green;
    height: 1.5rem;
    width: 1rem;
    border-radius: 10px 10px 0px 0;
    transform: rotate(-45deg);
    cursor: pointer;
}
.heart2 {
    transform: rotate(45deg);
    position: relative;
    left: -.6rem;
}
/* Pagination */
.pageNo {
    cursor: pointer;
    display: inline-block;
    background-color: grey;
    padding: 1rem;
    border-radius: .2rem;
    margin-right: 1rem;
}
.error {
    color: rgb(244, 69, 69);
}
input {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

form {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 2.5rem;
}
input {
    width: 100%;
    margin-bottom: .5rem;
    outline: none;
    border: 1px solid grey;
}
textarea {
    width: 100%;
    margin-top: .5rem;
    padding: 1rem;
    border-radius: .5rem;    
    outline: none;
}
input:focus, textarea:focus {
    box-shadow: 1px 1px 10px green;     
}
input:active, textarea:active {
    box-shadow: 1px 1px 10px #a3e635;   
}
input[type="submit"] {    
    background-color: #65a30d;
    color: #fff;
    font-weight: 700;
    width: fit-content;    
    align-self: flex-end;
}
input[type="submit"]:hover {
    background-color: #a3e635;
    color: #000;
}

input[type="submit"]:disabled {
    background-color: rgb(189, 187, 187);
    color: rgb(232, 230, 230)
}

/* Article Details */
.article-details .hero {
    background-color: #333;
    color: #fff;
    margin: 1rem 0;
    padding: 2.5rem 0;    
}
.article-details .hero img {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
}
.article-details .hero .username {
   font-size: 1.5rem;    
   display: inline-block;
   margin-top: 5rem;
}
.article-details .article-body {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 3rem;
}

.article-details .bio {
    font-size: .9rem;
}
.profile .hero {
    background-color: green;
    padding: 2rem 0;
    margin: 1rem 0;
}
.main, .aside {
    margin-top: 2rem;
}
.settings-btn, .edit-btn, .delete-btn, .follow-btn {
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
}
.follow-btn {
    color: #000;
}
.settings-btn:hover, .edit-btn:hover, .follow-btn:hover {
    background-color: grey;
    color: #000;
}
.delete-btn {
    background-color: transparent;
    margin-left: 1rem;
    color: red;
    font-size: 1rem;
}
.delete-btn:hover {
    background-color: rgba(255, 0, 0, .3);
    color: #fff;
}
/* tag */
.tag, .existing-tag{
    background-color: grey;
    color: #fff;
    
    margin: .3rem;
    padding: .5rem;
    border-radius: .5rem;
}
.existing-tag {
    
}
.tag-close {
    margin-left: .5rem;
    border: 2px solid #fff;
    padding: 1px;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}
.tag-close:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.tag-close:active {
    background-color: rgb(248, 197, 197);
}

/* Comment */

.comment-container {
    max-width: 1000px;
    margin: 0 auto;   
}
.comment-user-info {
    vertical-align: middle;
}
.comment-content {
    margin-bottom: -1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: fit-content;
}
.comment-content:focus, .comment-content:active {
    box-shadow: none;
}
.comment-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: .3rem;
}
.comment-footer {
    background-color: rgba(128, 128, 128, .2);
    padding: 0 1rem;
    vertical-align: middle;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    margin-bottom: 2rem;
    position: relative;
    top: .5rem;
}
.padding-1rem {
    padding: 1rem;
}
.comment-delete-btn {
    background-color: transparent;
    width: fit-content;
    border: none;
    padding: 0;
    padding-right: 1rem;
    cursor: pointer;   
    padding: .3rem;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
}
.comment-delete-btn:hover {
    box-shadow: none;
    background-color: rgba(248, 197, 197, .5);
    
}
.comment-delete-btn:focus {
    box-shadow: none;
    background-color: rgb(248, 197, 197);
    outline: .5rem solid rgb(248, 197, 197);     
}
.comment-delete-btn:active {
    box-shadow: none;
    background-color: red;
    outline: .5rem solid red;     
}

.comment-author {
    color: rgb(128, 128, 128);
    font-weight: 400;
    margin-bottom: -.4rem;
}
.comment-date {
    color: rgba(128, 128, 128, .8);
    font-weight: 100;
    font-size: .8rem;
    font-style: italic;
}
/************** Footer **************/