/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************** Custom Styles begins here ********************/
html {
    font-size: 16px;
}
body {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
}
a {
    text-decoration: none;
}

/**************** Flex ****************/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-45 {
    flex: 0 1 45%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************** Headings **************/
h1, h2, h3, h4 {
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.4rem;
}

/************** Header **************/
.userDetail {
text-align: right;
font-weight: 700;
margin-bottom: 1rem;
}

/************** Main **************/
.heart1, .heart2 {
    display: inline-block;
    background-color: green;
    height: 1.5rem;
    width: 1rem;
    border-radius: 10px 10px 0px 0;
    transform: rotate(-45deg);
}
.heart2 {
    transform: rotate(45deg);
    position: relative;
    left: -.6rem;
}
/* Pagination */
.pageNo {
    cursor: pointer;
    display: inline-block;
    background-color: grey;
    padding: 1rem;
    border-radius: .2rem;
    margin-right: 1rem;
}
.error {
    color: rgb(244, 69, 69);
}
input {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}


/************** Footer **************/